<div class="footer-wrap">
    <div class="inner">
        <div class="col">
            <div class="logo">
                <p>Vasagle.</p>
            </div>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, nam vero? Velit maiores unde dolor ipsam quia hic aut praesentium?</span>
        </div>
        <div class="col">
            <div class="title">Our Products</div>
            <p>Best Offers</p>
            <p>Products On Sale</p>
            <p>New Arivals</p>
            <p>Most Popular Collections</p>
        </div>
        <div class="col">
            <div class="title">Quick Links</div>
            <p>About</p>
            <p>Discounts</p>
            <p>Get Coupon</p>
            <p>Contact Us</p>
        </div>
        <div class="col">
            <div class="title">Support</div>
            <p>Privacy Policy</p>
            <p>FAQ</p>
            <p>Terms & Conditions</p>
            <p>Report Issues</p>
        </div>
    </div>
</div>