<div class="main-wrap">
    <div class="col">
        <div class="image">
            <img src="assets/trust icons/truck.png" alt="">
            <img src="assets/trust icons/truck-color.png" alt="">
        </div>
        <h3>Free Shipping Method</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem exercitationem quibusdam quo recusandae quod veniam.</p>
    </div>
    <div class="col">
        <div class="image">
            <img src="assets/trust icons/credit-card.png" alt="">
            <img src="assets/trust icons/credit-card-color.png" alt="">
        </div>
        <h3>Secure Payment System</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem exercitationem quibusdam quo recusandae quod veniam.</p>
    </div>
    <div class="col">
        <div class="image">
            <img src="assets/trust icons/24-hours.png" alt="">
            <img src="assets/trust icons/24-hours-color.png" alt="">
        </div>
        
        <h3>Professional Customer Service</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem exercitationem quibusdam quo recusandae quod veniam.</p>
    </div>
</div>