<div class="newsletter-wrap">
    <div class="col">
        <div class="img-wrap">
            <img src="assets/newsletter-sale.jpg" alt="">
        </div>
    </div>
    <div class="col">
        <div class="text">
            <p class="title">Get Our <br>Latest Offers News</p>
            <p>Best offers direct in your inbox</p>
        </div>
        
        <div class="input-field">
            <input type="text">
            <div class="button">Subscribe</div>
        </div>
        
    </div>
</div>