<div class="trending-wrap">
    <div class="col">
        <div class="inner">
            <div id="1" class="tab active">Home interior</div>
            <div id="2" class="tab">Decorations</div>
            <div id="3" class="tab">Garten</div>
            <div id="4"class="tab">Bathroom</div>
        </div>
    </div>
    <div class="col">
        <ng-container *ngIf="currentCategoryTab === 1"><app-product-card *ngFor="let product of productsCatOne" [product]="product" [noBorder]="true"></app-product-card></ng-container>
        <ng-container *ngIf="currentCategoryTab === 2"><app-product-card *ngFor="let product of productsCatTwo" [product]="product" [noBorder]="true"></app-product-card></ng-container>
        <ng-container *ngIf="currentCategoryTab === 3"><app-product-card *ngFor="let product of productsCatThree" [product]="product" [noBorder]="true"></app-product-card></ng-container>
        <ng-container *ngIf="currentCategoryTab === 4"><app-product-card *ngFor="let product of productsCatFour" [product]="product" [noBorder]="true"></app-product-card></ng-container>
    </div>
    <div class="decoration-box">
        <h1 class="decoration-text">TRENDING</h1>
        <h1 class="decoration-text">TRENDING</h1>
    </div>
</div>