<div class="container">
    <div class="visible-slider-wrap">
        <div class="visible-slider">
            <div class="slider-wrap">
                <div *ngFor="let image of images" class="image-card">
                    <img src="{{image.source}}" alt="{{image.altText}}">
                    <div class="product-desc">
                        <p>Product Name</p>
                        <em>Lorem ipsum dolor sit.</em>
                        <p>$29.99</p>
                    </div>
                    <div class="hover-product">
                        <img width="35px" style="margin-right: 10px;" src="assets/next.png" alt="">
                        <p>Check it out</p>
                    </div>
                </div>
            </div>
            <div class="arrows-holder">
                <div class="arrow-holder prev">
                    <div class="arrow arrow-right"></div>
                </div>
                <div class="arrow-holder next">
                    <div class="arrow arrow-left"></div>
                </div>
            </div>
        </div>
    </div>
</div>