<div class="navigation-holder">
    <div class="col">
        <div class="logo">Vasagle.</div>
    </div>
    <div class="col">
        <div class="nav-link-wrap">
            <p class="nav-link">Shop</p>
            <div class="underline"></div>
        </div>
        <div class="nav-link-wrap">
            <p class="nav-link">About</p>
            <div class="underline"></div>
        </div>
        <div class="nav-link-wrap">
            <p class="nav-link">Contact</p>
            <div class="underline"></div>
        </div>
    </div>
</div>