<div class="navigation-holder">
    <div class="col">
        <div class="logo">Vasagle.</div>
    </div>
    <div class="col">
        <div class="nav-link-wrap">
            <p class="nav-link">Home</p>
            <div class="underline"></div>
        </div>
        <div class="nav-link-wrap">
            <p class="nav-link">Latest</p>
            <div class="underline"></div>
        </div>
        <div class="nav-link-wrap">
            <p class="nav-link">Categories</p>
            <div class="underline"></div>
        </div>
        <div class="nav-link-wrap">
            <p class="nav-link">Account</p>
            <div class="underline"></div>
        </div>
        <div class="nav-link-wrap">
            <p class="nav-link">About</p>
            <div class="underline"></div>
        </div>
        <div class="nav-link-container">
            <div class="nav-link-wrap">
                <div class="image">
                    <img src="assets/heart.png" alt="">
                    <div class="count">
                        <p>01</p>
                    </div>
                </div>
            </div>
            <div class="nav-link-wrap">
                <div class="image">
                    <img src="assets/shopping-cart.png" alt="">
                    <div class="count">
                        <p>02</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>