<app-big-slider></app-big-slider>
<div class="container space">
    <p class="new-products-title">New Products</p>
</div>
<app-mini-slider></app-mini-slider>
<app-category-home-section></app-category-home-section>
<div class="container space">
    <p class="new-products-title">What's Trending Right Now?</p>
</div>
<app-trending-home-section></app-trending-home-section>
<div class="container space"></div>
<app-trust-section></app-trust-section>
<div class="container space"></div>
<app-newsletter></app-newsletter>
<div class="container space"></div>

<app-footer></app-footer>
<div class="container space"></div>